@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&family=Carme&family=Mukta+Vaani&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #36454f;
}

.ip_address_input{
    padding: 0.8em;
    margin: 4em 0 4em 0 ;
    -webkit-box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    border-radius: .7em;
    text-align: center;
    outline: none;
    font-family: 'Carme', sans-serif;
    position: sticky;
}

.submit_button{
    padding: 0.8em;
    border-radius: 0.7em;
    -webkit-box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    box-shadow: -4px 2px 9px 0px rgba(0,0,0,0.75);
    font-family: 'Carme', sans-serif;
    cursor: pointer;
    position: sticky;
    outline: none;
    
}
.submit_button:hover{
    background-color: black;
    color: white;
    outline: none;
    
}
form{
    text-align: center;
}
.IP{
    text-align: center;
    font-family: 'Mukta Vaani', sans-serif;
    color: white;
}
