@import url('https://fonts.googleapis.com/css2?family=B612:wght@700&family=Carme&family=Mukta+Vaani&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');
.table-container{
    overflow-x: auto;
    
}

table{
    table-layout: fixed;
    
    width: 100%;
    text-align: center;
    background-color: transparent;
    
    padding: 2em;
    border-collapse: collapse;
  
    background-color: white;
    max-width: 80%;
    position: -webkit-sticky;
    position: sticky;
    left: 10%;
    text-align: left;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.38);
    
  
}
thead{
    font-family: 'Ubuntu', sans-serif;    
    text-transform: uppercase;
    font-weight: bolder;
    background-color: #667eea;
    color: white;

    
}
tr:last-of-type{
    border-bottom: 3px solid #667eea;
}
thead td:hover{
    background-color: white;
    color: black;
}
td{
    word-wrap: break-word;
    padding: 12px 15px;;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    width: 25%;
    transition: all 0.4s;
}
tr:nth-child(even){
    background-color: #F8F8FF;
}
table a{
    text-decoration: none;
    color: black;
}

td:hover,td:hover > a {
    background-color: #667eea;
    color:white;
}
td::-moz-selection{
    color: white;
    background-color: black;
}
td::selection{
    color: white;
    background-color: black;
}
/*
font-family: 'B612', sans-serif;
font-family: 'Carme', sans-serif;
font-family: 'Mukta Vaani', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Ubuntu Mono', monospace;
*/